<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralized Statistics</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Centralized Statistics</h1>
        <h2>Number of Connected Mobile Devices: <span id="connecteddevices">0</span></h2>
        <h2>Previously Connected Devices:</h2>
        <table id="previousdevices">
            <tr>
                <th>IP Address</th>
                <th>MAC Address</th>
            </tr>
        </table>
        <h2>Currently Connected Devices:</h2>
        <table id="currentdevices">
            <tr>
                <th>IP Address</th>
                <th>MAC Address</th>
            </tr>
        </table>
        <h2>Per Mobile Device Statistics:</h2>
        <p id="devicestatistics">Loading...</p>
    </div>
<script src="../static/script.js"></script>
</body>
</html>